@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {    
  background-color: #1a1a1afd;
  width: 100%;
  padding: unset;
  margin: unset;
  min-height: 100vh;
  font-family: proxima-nova,sans-serif,Helvetica,arial,sans-serif;
  position: relative;
  display: block;
  color: white;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
}

:root {
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background-image: linear-gradient(145deg, #000000, #141414, #110024, #1d1820, #150e1f, #442D9B);
  }
  
  ::-webkit-scrollbar-thumb {
    background: #243575; 
    border-radius: 1rem;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #1d284d; 
  }
}